html, body, body > .container      {width: 100%; height: 100%;}
body            { font-family: 'Helvetica'; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Helvetica', serif; font-weight: bold; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 80%; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.6em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
.no-underline   { text-decoration: none; }
.grid{
    width: 92%;
	margin-left: 4%;
	margin-right: 4%;
}

.script-input {width: 400px; height: 300px;}

.widget-box{
    display: inline-block;
    width: 29%;
    margin: 1%;
    }

.widget-title{
    }

.widget-url{
    }

.widget-iframe{
    width: 100%;
    margin: 0;
    }

.container {
    padding-right: 50px;
}

.widget-container {
    margin-left: 5%;
    margin-righ: 5%;
}

.widget.display {
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
}