{% extends "main_view.html" %}
{% block body %}
<h1><a class="no-underline" href="/">CharmerJS | Reflection</a></h1>
<br>
<div>
  <div id="shapejs-script-input" class="container" style="float:left;">
      <h2>Config dem parameters</h2><br/>
      <textarea id="shapejs-script" class="script-input" style="display:none"></textarea>
    <form id="shapejs-demo-form">
      <input type="file" name="file1"><br>
      <label for="param1">Thickness:</label>
        <input id="param1" name="param1" type="text" value="1.2"><br>
      <label for="param2">Radius:</label>
        <input id="param2" name="param2" type="text" value="5.5"><br>
    </form>
    <button onclick="getShapeJsPreview(JSON.stringify($('#shapejs-script').val()), 'shapejs-demo-form', onGenerateModelSuccess)">Generate Model</button>
    <button onclick="uploadModel()">Upload Model</button><br>

  </div>
  <div id="model-link" style="display:none">
  </div>
  <h2>Peep dem models</h2><br/>
  <div id="x3delement" style="float:left; border: 1px solid;">
    <iframe id="x3d-iframe" x="0px" y="0px" width="500px" height="300px" frameborder="0" style="overflow:hidden" src=""></iframe>
  </div>
</div>

<script>
  // Load the default icosahedron reflection script
  $(document).ready(function() {
    var filePath = "/static/js/charmer/charmer.js";
    xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET",filePath,false);
    xmlhttp.send(null);
    var fileContent = xmlhttp.responseText;
    $('#shapejs-script').text(fileContent);
});
</script>
{% endblock %}
